.weather-app-container {
    max-width: 600px;
    margin: 30px auto;
    font-family: monospace;
  }
  
  .weather-app {
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    padding: 21px;
    border-radius: 5px;
    border: 1px solid #889b96;
    background: url("https://1.bp.blogspot.com/-Em6dqeATYeo/XkV8j-L3WMI/AAAAAAAAU6k/b0HAzEFV4JMomfn-dXsQF6JthRt0SovuQCLcBGAsYHQ/w914-h514-p-k-no-nu/colorful-minimalist-nature-landscape-scenery-uhdpaper.com-4K-6.421-wp.thumbnail.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  #boton-buscar {
    background: #ff6f91;
    border-radius: 5px;
    border: 1px solid #ff6f91;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    color: #fff;
    padding: 4px 10px 4px 10px;
    margin: 0px 10px 0px 5px;
  }
  
  #city-input {
    border: solid #ffa4bc;
  }
  
  #boton-buscar:hover {
    background: #ffe3eb;
    border: #ffe3eb;
    color: #666296;
  }
  .overview {
    text-align: center;
  }
  .float-none {
    text-align: center;
  }
  .Temperatura strong {
    font-size: 90px;
  }
  #temperatura-complemento {
    font-size: 15px;
  
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  #tiempo-atmosferico {
    margin-left: 50px;
    text-align: center;
    color: #fff;
  }
  h1 {
    color: #8a10d6;
  }
  
  .weather-forecast {
    margin-top: 10px;
  }
  
  .weather-forecast h3 {
    color: #fff;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    height: 15px;
    line-height: 15px;
    padding-top: 7px;
  }
  
  .weather-forecast img {
    display: block;
    margin: 0 auto;
    height: 48px;
    width: 48px;
  }
  
  .weather-forecast-temperature {
    text-align: center;
    color: #fff;
    font-size: 20px;
    font-weight: 400;
    height: auto;
    line-height: 15px;
    white-space: nowrap;
  }
  
  #identificador {
    font-size: 20px;
  }
  